/*				paleta de cores
#B95C50,	 #DE847B,	 #DEB3AD	 ,#3B0404
*/
*{
	
}
body{
	height:  800px;
	 /* background-image: linear-gradient(to bottom, #B95C50, #ac635a, #d6968e, #DEB3AD, #fdd2cd); */
}

section#cad{
	font-size: 14pt;
	color: rgba(5, 5, 5, 0.849);
	text-align: left;
	width: 600px;
	height: 400px;
	margin: auto;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #B95C50, #ac635a, #d6968e, #DEB3AD, #fdd2cd);
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.671);
 }

input#verif:hover {
	background-color: #acacac;
}

h1{
	font-family: arial, sans-seref;
	color: white;
	border-bottom:2px solid #3B0404;
 }

input#txtn {
	text-indent: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.884);
 }

input#idade {
	width: 80px;
	text-indent: 5px;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.884);
 }

select {
	display: inline-block;
	width: 100px;
	text-indent: 5px;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.884);
 }

#txtn:hover {
	background-color: #d0cbcb;
 }

#idade:hover {
	background-color: #d0cbcb;
 }

select {
	background-color: white;
 }
 select:hover {
	background-color: #d0cbcb;
 }

div#res {
	color: #3B0404;
	width: 300px;
	height: 100px;
	margin-left: 300px;
	margin-top: -240px;
	padding-left: 10px;
	/*box-shadow: -1px 0px 5px black;*/
	border-left: 2px solid #3B0404;

 }

 div.palletcolor {
 	margin: auto;
 	display: inline;
 	margin-top: 20px;
 	width: 20px;
 	height: 20px;
 	padding: 10px;
 }

 div#cores {
 	margin-left: 20px;
 	margin-bottom: 20px;
 }

 footer {
 	border-top: 2px solid #DE847B;
 }