/* -- MINI PÁGINA DE DEMONSTRAÇÂO -- */
	/*INICIO SOBRE CORES*/
	section#explicaSobre {
		margin: auto;
		padding: 3%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		text-indent: 2%;
		text-align: justify; 
		font-family: heaters, monospace;
		background-color: rgba(236, 236, 236, 0.87);
	 }
	section#demonstracaoCores {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	 }
	div#miniPagTest {
		position: relative;
		display: block;
		width: 98%;
		heigh:  auto;
		margin: auto;
		border: 2px solid rgb(153, 153, 153); 
		background-color: #E3B692;
	 }





	h1#tituloCad {
		margin: auto 0 0 0;
		font-size: 2.5em;
		font-family: 'Amatic SC', cursive;
		color: white;
		margin-top:0px;
		padding-top: 3.5%;
	 }
	ul#contemtiposPaletas { /*menu 2*/
	 	display: block;
	 	background-color: #412916; /*cor2*/
	 	margin-top: 0;
	 	margin-bottom: 0;
	 	padding: 30px 0;
	 	box-shadow: 1px 3px 15px #412916;
	 }
	li.tiposPaletas {
		text-indent: 20px;
	 	font-size: 1em;
	 	display: inline-block;
	 	border-radius: 0px;
	 	vertical-align: middle;
		font-family: heaters, monospace;
	 }
	li.tiposPaletas:hover {
	 	color: white;
	 }







	/*INICIO QUEM É VOCÊ?*/
	div#cad {
		margin: 10px 3px;
		border-radius: 10px;
		padding: 40px 40px 0 40px;
		text-align: left;
		font-size: 1em;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.671);
		background-image: linear-gradient(to bottom, #df7f30, #DE8D4B);
		color: rgb(20, 20, 20);
	 }
	input#txtn, input.senha {
		width: 100%;
		height: 30px;
	 	border:  0;
		border-radius: 5px;
		text-indent: 10px;
		color: black;
		background-color: snow;
	 }
	input#txtn:hover {
		background-color: rgba(210, 210, 210, 0.5);
	 }
	input[type='radio']:after {
	    width: 10px;
	    height: 10px;
	    border-radius: 15px;
	    top: -2px;
	    left: -1px;
	    background-color: white;
	    content: '';
	    display: inline-block;
	    visibility: visible;
	    border: 2px solid white;
	 }
	input[type='radio']:checked:after {
	    width: 10px;
	    height: 10px;
	    border-radius: 15px;
	    top: -2px;
	    left: -1px;
	    background-color: #AC6E3B;
	    content: '';
	    display: inline-block;
	    visibility: visible;
	    border: 2px solid white;
	 }
	input#idade {
	 	border:  0;
		width: 80px;
		color: black;
		text-indent: 5px;
		background-color: snow;
		border-radius: 5px;
	 }
	#idade:hover {
		color: black;
		background-color: rgba(210, 210, 210, 0.5);
	 }
	select {
	 	border: 0;
		margin-left: 5px;
		display: inline-block;
		width: 100px;
		color: rgba(110, 110, 110, 1);
		text-indent: 3px;
		border-radius: 5px;
		/*box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.884);*/
		background-color: snow;
	 }
	select:hover {
		background-color: rgba(210, 210, 210, 0.5);
	 }
	option {
		color: black;
		background-color: #E3B692;
		
	 }
	div#emoji {
		display: inline;
	 }
	input.senha {

		margin-bottom: 15px;}
	input.senha:hover {
	 	background-color: rgba(210, 210, 210, 0.5);
	 }
	input#confir { /*Botão*/
		font-size: 1.1em;
		width: 200px;
		height: 50px;
		margin: 5px 10% 5px 10%;
		border: 1px solid #5E3C20;
		border-radius: 5px;
		background-color: transparent;
	 }
	input#confir:hover {
		border-radius: 5px;
		color: snow;
		background-image: linear-gradient(45deg, #5E3C20 30%, #AC6E3B);
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		transition-duration: 500ms;
	 }
	/*FIM ---- QUEM É VOCÊ*/





	/*
	ESCOLHA OQ VC VAI FAZER HOJE: 

	CRIAR +1 BUG		Consertar BUG

			¯ \ _ (ツ) _ / ¯ 
				 [. .] 	
				  [ ]
				   0
		         _/ \_
	*/






	/*OPÇÕES DE PALETAS DE CORES*/
	div#cores {
		display: inline-block;
	 	font-family: heaters, monospace;
	 	margin: 0 0 10px 5%;
	 }
	.palletcolor {
	 	margin: 0;
	 	display: inline-block;
	 	width: 30px;
	 	height: 30px;
	 	border: 1px solid #666666;
	 	border-radius: 10px;
	 	background-color: transparent;
	 }
	input.inpt_tiposPaletas {
		color: rgb(211, 211, 211);
	 	background-color: transparent;
	 	border-bottom: none;
	 	border-top: none;
	 	border-left: none;
	 	border-right: none;
	 }
	input.inpt_tiposPaletas:hover{
	 	font-size: 0.9em;
	 	color: white;
	 }
	p.pc { /*"p" paletas de cores*/
	 	font-size: 0.7em;
	 	font-family: heaters, monospace;
	 }
/*FIM  FIM =>PÁGINA DE DEMONSTRAÇÂO<= FIM FIM*/